#main #part1 #part2 {
	line-height: 55px;
	background-color: #CCCCCC;
	height: 55px;
	width: 905px;
	float: left;
	margin-left: 30px;
	margin-bottom: 10px;
}
#main #part1 #part3 {
	float: left;
	height: auto;
	width: 905px;
	margin-left: 30px;
}
#main #part1 #part3 ul {
	line-height: 55px;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 55px;
	width: 880px;
	float: left;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
#main #part1 #part4 {
	background-image: url(../img/u7_normal.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 40px;
	width: 965px;
	float: left;
	margin-top: 20px;
}
#main #part1 #part3 ul li {
	line-height: 55px;
	height: 55px;
}

#main #part1 #part2 ul {
	height: 55px;
	width: 850px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	line-height: 55px;
}
#main #part1 #part3 #jkjsh {
	width: 905px;
	height: 280px;
	background-color: #F0EEEC;
	float: left;
}
#main #part1 #part3 #jkjsh #jkish_content {
	float: left;
	height: 220px;
	width: 845px;
	margin-top: 30px;
	margin-left: 30px;
}
#main #part1 #part3 #jkjsh #jkish_content ul {
	height: 50px;
	width: 820px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	float: left;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #7C7C7C;
	border-right-color: #7C7C7C;
	border-bottom-color: #7C7C7C;
	border-left-color: #7C7C7C;
}
#main #part1 #part3 #jkjsh #jkish_nav {
	float: right;
	width: 50px;
	margin-right: 30px;
	background-image: url(../img/u218_normal.png);
	background-repeat: no-repeat;
	background-position: left;
	padding: 0px;
	text-align: right;
}
#p1 {
	float: left;
	height: 65px;
	width: 360px;
	margin-top: 100px;
	margin-left: 355px;
	background-color: #FFFFFF;
	z-index: 2;
	position: absolute;
	display: none;
	top: 0px;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	line-height: 65px;
	text-align: center;
}
#p2 {
	float: left;
	height: 340px;
	width: 860px;
	margin-left: 82px;
	background-color: #FFFFFF;
	position: absolute;
	z-index: 2;
	display: none;
	margin-top: 100px;
	overflow: hidden;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 14px;
	padding: 0px;
}
#p2 ul {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#p2 li {
	float: left;
	list-style-type: none;
}

#p1 li {
	float: left;
}

#p3{
	float: left;
	height: 340px;
	width: 860px;
	margin-left: 82px;
	background-color: #FFFFFF;
	position: absolute;
	z-index: 2;
	display: none;
	margin-top: 470px;
	padding: 0px;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 14px;
}
#p3 ul{
    margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#p3 li{
float: left;
	float: left;
	list-style-type: none;
}

#main #part1 #part3 #jkjsh #jkish_content ul li {
	margin: 0px;
	padding: 0px;
	height: 55px;
}
